@model ECommerce_Site.Models.ProductList

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

@if (Model.SearchTerm != null)
{
    <h3>Results For: @Model.SearchTerm</h3>
}

@if (Model.Products.Count != 0)
{
    <div class="products flex">
        @foreach (var product in Model.Products)
        {
            Html.RenderPartial("ProductDisplay", product);
        }
    </div>
}
else
{
    <div class="purple">
        <p>Sorry we couldn't find any products for you by that name.</p>
    </div>
}
