@{
    ViewBag.Title = "About";
}

<div class="purple offset">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Selling Drugs?! I Mean Meat?! I Mean Carebears?!? yeah... carebears... </p>
</div>

