@{
    ViewBag.Title = "About";
}

<div class="purple offset">
    <h2 class="title">@ViewBag.Title.</h2>
    <div class="message">
        <h3 class="heading">@ViewBag.Message</h3>
        <p class="subheading">Selling Drugs?! I Mean Meat?! I Mean Carebears?!? yeah... Carebears... </p>
    </div>
</div>

