@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Website</h1>
    <p class="lead">Welcome to the best website in the world we sell whatever you are looking for</p>
    <p>Just remember the number one rule. DON'T ASK QUESTIONS.</p>
</div>

<h2>Da Rules</h2>
<div class="row">
    <div class="col-md-4">
        <h3>1. DON'T ASK QUESTIONS</h3>
    </div>
    <div class="col-md-4">
        <h3>2. DON'T ASK QUESTIONS</h3>
    </div>
    <div class="col-md-4">
        <h3>3. DON'T ASK QUESTIONS</h3>
    </div>
</div>